@tailwind base;
@tailwind components;
@tailwind utilities;

/* Кастомные стили для скроллбара в стиле Газпром */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #00B5E2;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0072CE;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}